body{
	margin:0rem;
	padding:0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
.order-details{
    box-shadow: 19px 1px 27px 0px rgba(193, 192, 192, 0.562);
    margin:0rem 4rem 0rem 6rem;
    padding:1rem 0rem 1rem 0rem;
}
h2{
    font-size:1.8rem;
    font-weight: bold;
    padding:0.5rem 0rem;
    margin:2rem 0rem 0.3rem 4rem;
    letter-spacing: 0.5px;
   
}
.details{
    display: flex;
    flex-direction: row;
}
.form_details{
    padding:0rem 2rem 0rem 1rem;
    margin:0.5rem 2rem 0.5rem 2rem; 
}
input{
    border:1px solid rgb(190, 190, 190);
    font-size: 1px sans-serif;
    outline: none;
}
::-webkit-input-placeholder{
    color: grey;
    opacity: 1;
  }
input.name{
    width:100%;
    padding:0.5rem 3.5rem 0.5rem 0.5rem;
    margin:0.5rem 10rem 0.5rem 0.2rem;
    color:black;
}
input#user_no{
    padding:0.5rem 0rem 0.5rem 0.5rem;
} 
input#user_email{
    padding:0.5rem 0rem 0.5rem 0.5rem;
} 
input#user_city{
    padding:0.5rem 0rem 0.5rem 0.5rem;   
} 
input#user_dob{
    padding:0.5rem 0rem 0.5rem 0.5rem;   
} 
#city_code{
    margin-left:0.5rem;
}
input#user_gender{
    padding:0.5rem 1.2rem 0.5rem 0.5rem;
} 
input#user_state{
    padding:0.5rem 2rem 0.5rem 0.5rem;
    width:100%;
}
#country_no{
    margin:0.5rem 0rem 0.5rem 0.7rem;
}
input#user_country{
    width:90%;
    padding:0.5rem 0.8rem 0.5rem 0.5rem;
}
input#user_image{
    width:90%;
    padding:0.5rem 0.8rem 0.5rem 0.5rem;
}
input#user_address{
    padding:0.5rem 11rem 0.5rem 0.5rem;
}
/* input#user_about{
    padding:0.5rem 11.5rem 0.5rem 0.5rem;
} */
label{
    font-size:1.5rem;
    padding:1rem 0rem; 
}
.form_details label{
    font-size:1rem;
    padding:1rem 0rem;
    margin:0.5rem 0rem; 
}
.click_button{
    display:flex;
    flex-direction: row;
}

.btn_secondary{
    margin:0.5rem 0rem 2rem 3rem; 
    padding:0.8rem 3.3rem 0.8rem 3.3rem;
    border:1px solid transparent;
    background-color: rgb(6, 6, 6);
    color:white;
    display: inline; 
}
a{
    text-decoration: none;
}
.btn_save{
    margin:0.5rem 0rem 2rem 30rem;  
    padding:0.5rem 3.3rem 0.8rem 3.3rem;
    border:1px solid transparent;
    background-color: rgb(6, 6, 6);
    color:white;
    display: inline;
}
select{
    display:block;
    padding:0.5rem 17.5rem 0.5rem 0.5rem;
    margin:1rem 10rem 0.5rem 0.2rem;
    outline:none;
    border:1px solid rgb(190, 190, 190);
}
#usercity_code{
    margin-left:-12.2rem;
}
#usercity_dob{
    margin-left:-1.5rem;
}