body{
    margin:0;
}
#contain{
    display:block;
}
.container {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.flex {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_left {
    margin: 0rem 0rem 4rem 1rem;
    width: 50%;
}

.flex_right {
    width: 50%;
    margin-top:-1rem;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary {
    margin-left: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.order-status {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#orderDate {
    font-size: 1.5rem;
    font-weight: 700;
}

#orderDay {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.back-btn {
    margin-right: 50px;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.order-details-container {
    margin-left: 3rem;
}

.hero-img-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.odc-wrapper {
    margin: 30px;
}

.odc-header-line {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.odc-header-details {
    font-weight: bold;
    margin-bottom: 20px;
}

.product-container {
    border-radius: 20px;
    padding: 10px;
}

.product-desk {
    margin-left: 10rem;
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orderText {
    display: block;
    margin-left: 25px;
    margin-bottom: 8px;
    /* flex-grow: 1; */
}

#firstchild {
    font-weight: 300;
    font-size: 0.8rem;
}

#lastchild {
    font-weight: 500;
    font-size: 1.3rem;
    width:100%;
}
#firstchild1{
    font-weight: 300;
    font-size: 0.8rem;
}

#lastchild1 {
    font-weight: 500;
    font-size: 1.3rem;
    width:100%;
}

.cancellation {
    margin-top: 20px;
    background-color: #828af1;
    border-radius: 20px;
    padding: 30px 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.shipping-desc {
    font-size: 1.3rem;
    margin: 2rem 0rem 1rem 0rem;
}

.order-desc {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}

p {
    margin: 0.3rem;
}

.shipping-address {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.price {
    font-size: 1.2rem;
}

.img-photo {
    width: 40px;
    height: 40px;
    border-radius:7px;
}

.hero-img {
    width: 28rem;
    height: 30rem;
    border-radius: 10px;
    margin-top: 11rem;
    margin-right: 5rem;
}
#reviewBtn{
    padding: 0.8rem 2.5rem;
    margin:2rem 0rem 0rem 12rem;
    border:none;
    background-color: black;
    color:white;
}
#review{
    display:none;
    position: absolute;
    top:6rem;
}
.blur-background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.orderId{
    display:block;
    margin:1rem 0rem;
}