<<<<<<< HEAD

  *{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.question_div{
    margin-bottom: 4rem;
    margin-left:3rem;
}
.after-order{
    font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-style: normal;
    font-size:2.4rem;
    margin-right:1rem;
    text-align: center;
   margin-bottom:1rem;
}
#accordian{
    margin:2rem -2rem 4rem 8rem;
    width:580px;
}
#accordian li{
    list-style:none;
    width:100%;
    margin-bottom:10px;
    background-color:rgb(228, 226, 226);
    padding:0.938rem 0rem 0.938rem 0.938rem;
    border-radius:4px;
}
#accordian li label{
    padding:0.5rem;
    display:flex;
    justify-content: space-between;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    color:black;
}
#accordian li label span{
    transform:rotate(90deg);
    font-size:22px;
    color:rgb(44, 43, 43);
    margin-right:3rem;
}
#accordian label + input[type="radio"]{
    display:none;
}
#accordian .content{
    padding:0 10px;
    line-height:26px;
    max-height:0;
    overflow:hidden;
    transition: max-height 0.5s;
}
#accordian .content p{
    color:rgb(60, 59, 59);
    padding-right:2rem;
}
#accordian label + input[type="radio"]:checked + .content{
    max-height:400px;
}
.top{
    display:flex;
    flex-direction: row;
    width:100%;
}
.left_corner{
  position: fixed;
}
.about-profile-img{
	height:38rem;
	width:40rem;
    margin:6rem 0rem 0rem 7rem;
}
 .right_corner{
    margin:2rem 0rem 2rem 42rem; 
    background-color: white;
    width: 70%;
    height: 87vh;
    overflow-y: scroll;
    border-radius:10px;
}
::-webkit-scrollbar {
    display: none;
}
.about_page{
	text-align:center;
	padding-left:20px;
	padding-right:120px;
    margin:9rem 0rem 6rem 10rem;
}
.exper_div{
	text-align:center;
    margin:8rem 2rem 6rem 6rem;
	padding-left:80px;
	padding-right:20px;
	font-size:20px;
	color:rgb(16, 15, 15);
}
.h3_about{
   font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-style: normal;
    font-size:3rem;
    padding-bottom: 1rem;
}
h5{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:1rem;
    padding:2rem;
}
.div_para{
    padding: 2rem;
    text-align: center;
    font-size:1.3rem;
}
.div_text{
    padding: 2rem;
    text-align: center;
}

.about_h3{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    padding:2rem;
    margin-top:-2rem;
}
.scroll-wrapper{
    text-align: center;
}
.scroll{
    width:40px;
    height:40px;
    -webkit-animation: nod 3s ease infinite;
    -moz-animation: nod 3s ease infinite;
    -o-animation: nod 3s ease infinite;
    animation: nod 3s ease infinite;
}
.scroll_bar{
    width:40px;
    height:40px;
    margin-top:5rem;
    -webkit-animation: nod 3s ease infinite;
    -moz-animation: nod 3s ease infinite;
    -o-animation: nod 3s ease infinite;
    animation: nod 3s ease infinite;
}
@keyframes nod{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(0,40px);
    }
    100%{
        transform: translate(0);
    }
}

/* .about-div div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
    margin-left:5rem;
}
.about-div div:nth-child(2){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center; 
	text-align:center;
	padding-left:20px;
	padding-right:120px;
    margin:3rem 0rem 5rem -1.5rem;
}  */
 /* .customer{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;
}
.customer-img{
    height:18.75rem;
    width:23.75rem;
    margin:0rem 3.125rem 1.25rem 3.75rem;
    padding-left:-3.125rem;
    padding-bottom:2rem;
}
.customer-content{
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 0rem 2.813rem;
}
.review-head{
    margin:3.125rem 0rem 0rem 1rem;
    font-size:2.5rem;
    padding:1.5rem 0rem 3rem 0rem;
    text-align:center;
}
.customer-heading{
    margin-left:4.688rem;
    font-size:1.563rem;
}
.review{
    background-color:white;
}
.customer-color{
    color:grey;
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 3rem 2.813rem;
} */

/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }    */

=======

  *{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.question_div{
    margin-bottom: 4rem;
    margin-left:3rem;
}
.after-order{
    font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-style: normal;
    font-size:2.4rem;
    margin-right:1rem;
    text-align: center;
   margin-bottom:1rem;
}
#accordian{
    margin:2rem -2rem 4rem 8rem;
    width:580px;
}
#accordian li{
    list-style:none;
    width:100%;
    margin-bottom:10px;
    background-color:rgb(228, 226, 226);
    padding:0.938rem 0rem 0.938rem 0.938rem;
    border-radius:4px;
}
#accordian li label{
    padding:0.5rem;
    display:flex;
    justify-content: space-between;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    color:black;
}
#accordian li label span{
    transform:rotate(90deg);
    font-size:22px;
    color:rgb(44, 43, 43);
    margin-right:3rem;
}
#accordian label + input[type="radio"]{
    display:none;
}
#accordian .content{
    padding:0 10px;
    line-height:26px;
    max-height:0;
    overflow:hidden;
    transition: max-height 0.5s;
}
#accordian .content p{
    color:rgb(60, 59, 59);
    padding-right:2rem;
}
#accordian label + input[type="radio"]:checked + .content{
    max-height:400px;
}
.top{
    display:flex;
    flex-direction: row;
    width:100%;
}
.left_corner{
  position: fixed;
}
.about-profile-img{
	height:38rem;
	width:40rem;
    margin:6rem 0rem 0rem 7rem;
}
 .right_corner{
    margin:2rem 0rem 2rem 42rem; 
    background-color: white;
    width: 70%;
    height: 87vh;
    overflow-y: scroll;
    border-radius:10px;
}
::-webkit-scrollbar {
    display: none;
}
.about_page{
	text-align:center;
	padding-left:20px;
	padding-right:120px;
    margin:9rem 0rem 6rem 10rem;
}
.exper_div{
	text-align:center;
    margin:8rem 2rem 6rem 6rem;
	padding-left:80px;
	padding-right:20px;
	font-size:20px;
	color:rgb(16, 15, 15);
}
.h3_about{
   font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-style: normal;
    font-size:3rem;
    padding-bottom: 1rem;
}
h5{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:1rem;
    padding:2rem;
}
.div_para{
    padding: 2rem;
    text-align: center;
    font-size:1.3rem;
}
.div_text{
    padding: 2rem;
    text-align: center;
}

.about_h3{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    padding:2rem;
    margin-top:-2rem;
}
.scroll-wrapper{
    text-align: center;
}
.scroll{
    width:40px;
    height:40px;
    -webkit-animation: nod 3s ease infinite;
    -moz-animation: nod 3s ease infinite;
    -o-animation: nod 3s ease infinite;
    animation: nod 3s ease infinite;
}
.scroll_bar{
    width:40px;
    height:40px;
    margin-top:5rem;
    -webkit-animation: nod 3s ease infinite;
    -moz-animation: nod 3s ease infinite;
    -o-animation: nod 3s ease infinite;
    animation: nod 3s ease infinite;
}
@keyframes nod{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(0,40px);
    }
    100%{
        transform: translate(0);
    }
}

/* .about-div div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
    margin-left:5rem;
}
.about-div div:nth-child(2){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center; 
	text-align:center;
	padding-left:20px;
	padding-right:120px;
    margin:3rem 0rem 5rem -1.5rem;
}  */
 /* .customer{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;
}
.customer-img{
    height:18.75rem;
    width:23.75rem;
    margin:0rem 3.125rem 1.25rem 3.75rem;
    padding-left:-3.125rem;
    padding-bottom:2rem;
}
.customer-content{
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 0rem 2.813rem;
}
.review-head{
    margin:3.125rem 0rem 0rem 1rem;
    font-size:2.5rem;
    padding:1.5rem 0rem 3rem 0rem;
    text-align:center;
}
.customer-heading{
    margin-left:4.688rem;
    font-size:1.563rem;
}
.review{
    background-color:white;
}
.customer-color{
    color:grey;
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 3rem 2.813rem;
} */

/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }    */

>>>>>>> bb5721000df383eb6f743760b31676bca2815f2e
