*{
    margin:0;
    padding:0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.content{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:80%;
    margin-left: 9.375rem;
    margin-bottom:5rem;
}
.heading{
    margin: 2rem 0rem 2rem 10rem;
    font-size:2rem;
}
.container{
    margin-top:-0.3rem;
    width:70%;
    border:0.063rem solid #bbb;
    background-color:#fff;
    padding:2rem;
}

.side-container{
    position:sticky;
    padding:2rem;
    margin-left:3rem;
    margin-bottom:1.5rem;
    background-color:#eee;
    width:30%;
}

.cart-address{
    border:0.063rem solid #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    margin-bottom: 2rem;
}
.cart-address p{
    font-size: 1.125rem;
    padding-bottom: 1rem;
}
.cart-address button{
    padding: 0.5rem;
    width:9.375rem;
    font-weight: 500;
    border: 0.063rem solid #000;
}
.cart-details{
    display:flex;
    justify-content:flex-start;
    border: 0.125rem solid #eee;
    margin-bottom: 2rem;
    padding: 2rem;
    position:relative;
}

div.remove i{
    color:#555;
    font-size:25px;
    position: absolute;
    top:2rem;
    right:2rem;
}
.description{
    margin-left:3rem;
}
 .product-head{
    margin:1rem 0rem 0rem 0rem;
    font-size: 1.25rem;
}
.cart-list div{
    padding-bottom: 1rem;
}
.product-company{
    padding-top:0.5rem;
}
.product-rate{
    display:inline;
}
.product-price{
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 1rem;
    margin-left:3rem;
}
.original-price{
    color:#bbb;
    margin-right: 0.1rem;
}
.product-offer{
    color:rgb(255, 97, 97);
}

span.date{
    font-weight: 500;
    font-size: 1.125rem;
}
.buttons{
    margin-top: 1rem;
    display:flex;
}
.buttons div {
    padding-right: 1rem;
}
 button.liked-product{
    padding:0.8rem;
    background-color: #222;
    border:0.063rem solid #bbb;
    color:#fff;
    width:12.5rem;
    margin-left:3rem;
}

.side-container h3{
    padding-bottom: 1rem;
}

 td{
    padding-bottom: 1rem;
    padding-right: 0.938rem;
    width:100%;
}
.side-container table tbody tr:last-child td:first-child,tr:last-child td:last-child{
    font-weight: 600;
}

.side-container button{
    background-color: #222;
    color:#fff;
    width:100%;
    padding:1rem;
    font-weight: 600;
    margin-top: 1rem;
}
.footer-div h4{
   margin-top:1.5rem;
}
.footer-div p{
    padding:0.4rem;
    margin-top:0.6rem;
}
.footer-media img{
    height:4.063rem;
	width:3.125rem;
	margin-left:2rem;
}