body {
	margin: 0rem 2rem;
	padding: 0rem;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
}

.small_container {
	display: block;
}

td img {
	width: 9rem;
	height: 9rem;
	margin: 4rem 2rem 0rem 4rem;
}

.contain_cart {
	margin: 5rem 0rem 0rem 0rem;
}

input {
	width: 40px;
	height: 30px;
	padding: 5px 1px 5px 2px;
	text-align: center;
}

.delete_icon {
	margin: 0rem 2rem 0rem 0rem;
	width: 60px;
	height: 50px;
}

.delete_icon:hover {
	animation: a 0.5s 1 linear;
}

@keyframes a {
	0% {
		transform: scale(0.7, 1.3);
	}

	25% {
		transform: scale(1.3, 0.7);
	}

	50% {
		transform: scale(0.7, 1.3);
	}

	75% {
		transform: scale(1.3, 0.7);
	}

	100% {
		transform: scale(1, 1);
	}
}

.heading_page {
	margin: 2rem 0rem 2rem 30rem;
}

.dotted_line {
	margin: 0rem 10.2rem -0.5rem -0.1rem;
	width: 10rem;
}

.page_new {
	font-size: 1.1rem;
}

.page {
	width: 30px;
	height: 25px;
	background-color: white;
	color: rgb(19, 19, 19);
	box-shadow: 19px 1px 27px 0px rgba(193, 192, 192, 0.562);
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
}

#page {
	margin: 3rem 0rem 0rem 1rem;
	height: 28px;
	border-color: rgb(241, 74, 74);
}

#page_2 {
	margin: 3rem 0rem 0rem -11rem;
	width: 30px;
}

.page_text {
	padding-left: 4.5rem;
	font-size: 1.1rem;
}

.cart_info {
	display: flex;
	flex-direction: row;
}

h3 {
	text-overflow: ellipsis;
	font-size:1rem;
	width: 180px;
	height: 10px;
	margin: 6rem 1rem 0rem 2rem;
}

td {
	padding: 0rem 2rem;
}

.cart_info img {
	margin: 2rem 0rem 2rem 0rem;
}

.product_details {
	margin-bottom: 2rem;
	border: 1px solid grey;
	padding: 2rem;
}

table.table_product {
	box-shadow: 19px 1px 27px 0px rgba(193, 192, 192, 0.562);
	margin: 2rem 8rem 0rem 15rem;
	background-color: white;
}

.amount td {
	font-size: 1.3rem;
}

.total_price {
	margin: 1rem 0rem 0rem 58rem;
}

.btn_order {
	margin: 1rem 0rem 0rem 2rem;
	padding: 0.5rem 7rem 0.5rem 7rem;
	background-color: rgb(251, 55, 55);
	border-color: transparent;
	color: white;
	box-shadow: 19px 1px 27px 0px rgba(193, 192, 192, 0.767);
}

.emptyCart {
	width: 30rem;
	height: 30rem;
	margin: 0rem 0rem 0rem 30rem;
}

#cart_empty {
	display: none;
}

p.cartEmpty {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0rem;
	letter-spacing: 0.1rem;
}
.parah3{
	text-overflow: ellipsis;
	font-size:1.1rem;
	font-weight: 550;
	width: 180px;
	height: 10px;
	margin: 6rem 1rem 0rem 2rem;
}
#headh1 {
	position: absolute;
	left: 18rem;
	top: 12rem;
}

#headh2 {
	position: absolute;
	left: 27rem;
	top: 12rem;
}

 #headh3 {
	position: absolute;
	left: 42rem;
	top: 12rem;
}

#headh4 {
	position: absolute;
	left: 53.5rem;
	top: 12rem;
}

#headh5 {
	position: absolute;
	left: 60.5rem;
	top: 12rem;
} 
#headh6 {
	position: absolute;
	left: 68rem;
	top: 12rem;
} 