
body{
	margin:0;
    padding:0;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
#product-main{
	background-image:linear-gradient(rgb(246, 187, 187),rgb(250, 220, 220),rgb(252, 219, 219));
}
.top{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-evenly;
	align-items:space-evenly;
}
.main-img{
	margin-top:3rem;
	height:42.25rem;
	width:43.75rem;
	border-radius:0.625rem;
}
#upload-img{
	margin-top:0rem;
	margin-right:2rem;
	margin-left:-2rem;
	height:41.25rem;
	width:43.75rem;
	border-radius:0.625rem;
}
.left{
	margin-left:5rem;
}
.right{
	padding-left:6.50rem;
	padding-right:5rem;
	padding-top:1rem;
    margin-top:2.5rem;
}
#upload-right{
	margin-top:0rem;
}
.company{
	color: red;
	font-size:1.25rem;
}
.heading{
	font-size:3.125rem;
	margin-top:0.313rem;
	margin-bottom:1.25rem;
}

.amount{
	display:inline;
}
.prize{
	font-size:1.563rem;
    padding-bottom:0rem;
    margin-bottom:0.938rem;
}

section.right button.btn-primary{
	color: rgb(211, 64, 64);
	background-color:lightcoral;
	border:white;
	padding:0.313rem 0.625rem;
	border-radius:0.313rem;
    margin:0rem 0.625rem 0.625rem 0.625rem;
	font-size:0.938rem;
}
.discount{
	font-size:0.938rem;
	padding-top:0rem;
	margin-top:0rem;
	color: hsl(358, 50%, 79%);
}
section .right button{
	padding:1rem;
	border-color:transparent;
	font-weight:bold;
   font-size:100%;
}
section .right button:nth-of-type(2){
	margin-left:-0.32rem;
	margin-right:-0.32rem;
}
section.right button.btn-secondary {
	border-radius:0.313rem;
	border:transparent;
	color:white;
	background-color:rgb(239, 86, 86);
	padding:0.625rem 3.125rem 0.938rem 3.125rem;
	margin:-0.5rem 0.625rem 0.625rem 1.5rem;
}
#btn-upload {
	border-radius:0.313rem;
	border:transparent;
	color:white;
	background-color:rgb(239, 86, 86);
	padding:0.625rem 3.125rem 0.938rem 3.125rem;
	margin:1rem 0.625rem 0.625rem 1.5rem;
}
.btn-secondary img{
    height:0.938rem;
    width:1.25rem;
	margin-left:-0.625rem;
	padding-right:0.625rem;
}
.btn-secondary a{
	text-decoration:none;
	color:white;
}
.btn-secondary:hover{
	transform: scale(1.1); 
	transition: 1s;	
}
.down{
    margin-top:1.25rem;
    margin-left:5.625rem;
	 display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
}
.down-img{
	height:5.625rem;
    width:5.625rem;
	margin:1.875rem 1.875rem 0rem -2.5rem;
	border-radius:0.625rem;
}
.down-img:hover{
	transform: scale(1.2); 
	transition: 1s;
}
.heart-icon{
	display:inline;
}
.heart-icon img{
	height:1.875rem;
	width:1.875rem;
}
.heart-icon img:hover{
	transform: scale(1.2); 
	transition: 1s;	
}
.heart-icon a{
	text-decoration:none;
}
.rate{
	font-size:2.3rem;
	margin:-0.5rem 0rem 0rem 0.313rem;
	
}
.options{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	padding:1rem;
}
label{
	display:block;
	font-size:1.5rem;
	margin-bottom:1rem;
	font-family: 'Times New Roman', Times, serif;
}
.bulbs{
	padding-left:2rem;
}
small{
	color:rgb(159, 12, 12);
}
.price{
	font-size:1.4rem;
}
.real-price{
	padding-left:1rem;
}
.product-description p{
	margin-left:2rem;
}
.height{
	margin-left:1rem;
}
#btn-edit{
	margin-top:1rem;
}
del{
	padding-left:0.8rem;
}
@media screen and (max-width:768px) {
	HTML{
		font-size: 2rem;
	}
	.top{
		display:flex;
		flex-direction:column;
		flex-wrap:nowrap;
		justify-content:space-evenly;
		align-items:space-evenly;
	}


}