body{
	margin:0rem;
    padding:0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.color{
	color:red;
}
.top{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-evenly;
	align-items:space-evenly;
}
.main-img{
	margin:1.25rem 0rem 0rem 5rem;
	height:37.5rem;
	width:43.75rem;
	border-radius:0.625rem;
}
.image-img{
	margin:1.25rem 0rem 0rem 5rem;
	height:37.5rem;
	width:43.75rem;
	border-radius:0.625rem;
}
.image{
	position:relative;
	width:100%;
}
.image-overlay{
	position:absolute;
	top:1.25rem;
	left:5.2rem;
	width: 89%;
	height:96%;
	background:rgba(0, 0, 0, 0.6);
	color:#fff;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	opacity:0;
	transition:opacity 0.25s;
}
.image-overlay > *{
   transform:translateY(20px);
   transition:transform 0.25s;
}
.image-overlay:hover{
	opacity:1;
}
.image-overlay:hover > *{
	transform:translateY(0);
}
.image-title{
	font-size:2rem;
	font-weight:bold;
	color:#F08080;
}
.image-description{
	font-size:1.25rem;
	margin-top:0.25rem;
	padding:2rem 2rem 0rem 2rem;
} 
.image-details{
    font-weight:bold;
	font-size:1.3rem;
	color:#F08080;
}
.right{
	padding:3.75rem 5rem 0rem 3.125rem;
    margin-top:2.5rem;
}

.down{
    margin:3.75rem 0rem 0rem 2.5rem;
	 display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;
}
.down-img:hover{
	transform: scale(1.2); 
	transition: 1s;
}
.down-img{
	height:5.625rem;
    width:5.625rem;
	margin:1.875rem 1.25rem 0rem 2.5rem;
	border-radius:0.625rem;
}
.down a{
    text-decoration:none;
    color:#000;
}
h2{
    margin-left:18.75rem;
}
h4.left-heading{
    font-size:1.25rem;
    margin-left:12.5rem;
    padding-top:1.25rem;
}
.right-down{
	padding-left:1.875rem;
}
.right-down p{
	text-align:center;
}

