body{
	margin:0px;
	padding:0px;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	overflow-x:hidden;
}
.inner button a{
    font-size:1.2rem;
}
.family-div{
	display:grid;
	grid-template-columns:50% 50%;
	width:100%;
	height:90vh;
    background-color:white;
    margin-top:0.5rem;
}
.family-div div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
	padding-left:60px;
	padding-right:20px;
	font-size:20px;
	color:rgb(16, 15, 15);
}
.family-div div:nth-child(2){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
}
.family-img{
	height:30rem;
	width:32rem;
    margin-top:0rem;
    box-shadow: 12px 12px 34px -1px rgba(0,0,0,0.75);
}
.family-div div:nth-child(1) h3{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:3rem;
    padding:0rem 1rem 1rem 1rem;
    margin-top:0rem;
}
.family-div div:nth-child(1) p{
    margin-top:-2rem;
    padding-top:0rem;
    text-align:center;
}
.btn_sell{
    background-color:rgb(13, 13, 13);
    color:white;
	border-radius:0.938rem;
    border-color:transparent;
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size:1.2rem;
    margin-top:1.5rem;
}
.btn_sell:hover{
    transform: scale(1.2); 
	transition: 1s;
    color:white;
	border-radius:0.938rem;
}
