body{
    margin:0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
}
.order-page{
    margin:3.75rem 6.25rem;
}
.orders-head{
    font-size:1.875rem;
    margin:0rem 0rem 2.5rem 1.875rem;
    color:black;
}
.order-list{
    margin:0.75rem 0rem 4rem 0rem ;
    background-color: #eee;
    padding:1.25rem;
    box-sizing:border-box;
    box-shadow: 0.313rem 0.638rem 1.125rem rgb(122, 118, 118);
}
.order-list:hover{
    transform: scale(1.1); 
	transition: 1s;	
    background-color:rgb(247, 223, 223);
}
.order-status{
    display:flex;
    flex-direction:row;
    margin:0rem 1rem 2rem 1rem;
    background-color:white;
}
.order-icon{
    margin:2rem 0rem 0rem 2rem;
}
.order-img{
    margin:1rem 0rem 0rem 1rem;
}
.arrow{
    margin:3rem 0rem 0rem 45rem;
}
.delivery-date{
    padding-left:3rem;
}
.order-details{
    display:flex;
    flex-direction:row;
    margin:0rem 1rem 2rem 1rem;
    font-size:1.2rem;
    border-bottom:0.1rem solid white;
    padding-bottom:1rem;
}
.order-detail{
    display:flex;
    flex-direction:row;
    margin:0rem 1rem 2rem 1rem;
    font-size:1.2rem;
    padding-bottom:1rem;
}
.product-details{
    padding-left:3rem;
}
.review{
    display:flex;
    flex-direction:row;
    margin:-0.5rem 1rem 0.3rem 1rem;
}
.order-review a{
    margin-left:60rem;
    text-decoration: none;
    color:rgb(220, 21, 21);
}
.order-icon i{
    font-size: 1.563rem;
    width:6%;
    text-align: center;
    color: rgb(220, 21, 21);
    margin-right: 4%;
}
.arrow i{
    color: rgb(169, 36, 36); 
}
.btn{
    color:white;
    background-color:rgb(184, 40, 40);
    border-color:transparent;
    border-radius:0.5rem;
    padding:0.5rem 0.5rem;
}
.btn:hover{
    transform: scale(1.2); 
	transition: 1s;
	background-color:rgb(199, 4, 4);
	border-radius:0.625rem;
}
.btn-primary{
    font-size:1.5rem;
    border:0.1rem solid black;
    border-radius:0.8rem;
    margin: -0.2rem 0rem 0rem 0.5rem;
}
.cancel{
    margin:2rem 0rem 0rem 59rem;
}
#cancel-icon{
    margin:2rem 0rem 0rem 55rem;
}