body{
    margin:0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.order-page{
    margin:3.75rem 6.25rem;
}
.color{
	color:red;
}
.orders{
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:space-between;
    padding-top:3.125rem;
}
.orders-info{
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
}
.orders-head{
    font-size:1.875rem;
    margin-left:1.875rem;
    margin-bottom:-2.5rem;
}
.details p{
    padding-left:3.75rem;
    font-size:1.563rem;
}
.details small{
    padding-left:3.75rem;
    font-size:1.563rem;
}
.btn-secondary img{
    height:0.938rem;
    width:1.25rem;
}
.btn-secondary a{
	text-decoration:none;
	color:white;
}
.btn-secondary{
    border-radius:0.313rem;
	border:transparent;
	color:white;
	background-color:rgb(239, 86, 86);
	padding:0.625rem 3.125rem;
	margin-top:3.125rem;
    font-size:1.25rem;
}
.cart-info img:hover{
	transform: scale(1.1); 
	transition: 1s;
}
div.footer{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:5.625rem;
	height:27.875rem;
	width:93.038rem;
	background-color:#222222;
	
}
.footer a{
	text-decoration:none;
	color:#f53f3f;
}
.footer-div{
	padding-left:12.5rem;
	margin-right:0rem;
}
.footer-div p{
  font-size:1.25rem;
}
.footer h4{
	font-size:1.875rem;
	color:whitesmoke;
}
.footer-img{
	margin:4.375rem -2.5rem 0rem -8.75rem;
	height:12.5rem;
	width:23.75rem;
    padding:0rem;	
}
.footer-media{
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	margin:-1.875rem 0rem 0rem -5rem;
}
.footer-media img{
	height:4.063rem;
	width:3.125rem;
	padding:0.313rem 0.313rem 0.313rem 0.313rem 0.938rem;
	margin:0rem 0rem 6.25rem 0rem;
}

