body{
   margin:3.125rem;
   margin-top:11.875rem;
   font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-image:url(../images/Main/proceed-wallpaper.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100%;
	  height:55.75rem;
}
div.container{
    height:33.875rem;
    width:50rem;
    border-radius:0.5rem;
    box-shadow:0 0 1rem rgba(0, 0, 0, 0.623);
    z-index:1;
    margin-top:9.375rem;
    margin-bottom:6.25rem;
    margin-left:20rem;
    margin-right:3.75rem;
   background-color:rgba(16, 15, 15, 0.587);
   
 }
 div.box{
     display:flex;
     flex-direction: row;
     flex-wrap: no-wrap;
    justify-content:space-between;
    align-items:space-between;
 }
.container h3{
       text-align:center;
       padding-top:1.875rem;
       color:white;
      
    }
 div.right{
        border-left:0.063rem solid white;
        margin:1.25rem;
        margin-left:-1.875rem;
 }
 div.session-right{
      border-left:0.063rem solid white;
 }
 .right p{
    text-align:center;
    padding-top:1.25rem;
    color:white;
    margin-top:1.25rem;
 }
 div.left{
        font-size:1.25rem;
        padding-left:0rem;
 }
div.left form div{
        padding:0.625rem 0.625rem 0.625rem 0.75rem;
    }
 div.right img{
        height:12.5rem;
        width:12.5rem;
        margin:2.5rem 1.25rem 1.25rem 6.25rem;
        border-radius:0.625rem;
    }
  .session-right .image{
        height:17.5rem;
        width:16.25rem;
        margin:4.375rem 6.25rem 0rem 6.25rem;
        border-radius:0.625rem;
    }
 div.right p{
        margin-left:3.75rem;
        margin-right:2.5rem;
    }
 .btn{
        display:flex;
        flex-direction:row;
        padding:0.938rem;
        margin-left:20.625rem;
       
    }
 .btn-tertiary button{
        margin-left:3.125rem;
       border-style:solid;
       border-color:white;
       border-radius:0.625rem;
    }
  .btn-tertiary a{
        padding:1.25rem 1.875rem;
        font-size:1.563rem;
        text-decoration:none;
        color:black;
    }
    .btn-tertiary button:hover{
        transform: scale(1.2); 
        transition: 1s;
        background-color:red;
        border-style:solid;
       border-color:red;
       border-radius:0.625rem;
    }
    .btn-tertiary button a:hover{
        color:white;
        margin-left:0.625rem;
    }
  
    .btn-secondary button{
        margin-top:0rem;
        margin-left:-12.5rem;
        padding-left:1.125rem;
        border-style:solid;
        border-color:transparent;
        border-radius:10px;
    }
    .btn-secondary button a{
        padding:1.25rem 1.875rem;
        font-size:1.563rem;
        text-decoration:none;
        color:black;
    }
    .btn-secondary button:hover{
        transform: scale(1.2); 
        transition: 1s;
        background-color:red;
        border-style:solid;
       border-radius:0.625rem;
    }
    .btn-secondary button a:hover{
        color:white;
        border-color: transparent;
    }
.btn-primary button{
    margin-top:0rem;
    margin-left:-21.875rem;
    border-style:solid;
    border-color:transparent;
    border-radius:0.625rem;
 }
.btn-primary button a{
    padding:1.25rem 1.875rem;
    font-size:1.563rem;
    text-decoration:none;
    color:black;
}
.btn-primary button:hover{
	transform: scale(1.2); 
	transition: 1s;
	background-color:red;
    border-style:solid;
    border-color: red;
    border-radius:0.625rem;
}
.btn-primary button a:hover{
	color:white;
    border-color: red;
}
.submit{
   background-color:white;
    z-index:0.8;
	width:50%;
    margin:0.625rem 1.875rem 0rem 62.5rem;
	padding:0.313rem 1.25rem;
	position: sticky;
	top: 0rem;	
} 
.submit  a{
	  text-decoration:none;
	  color:white;
}
.submit :hover{
	transform: scale(1.2); 
	transition: 1s;
	background-color:red;
	
}
.submit a:hover{
	color:white;
	margin-left:0.625rem;
}
.radio-box-7{
    margin-left:1.75rem;
}
.radio-box-6{
    margin-left:4.875rem;
}
.radio-box-5{
    margin-left:4.5rem;
}
.radio-box-4{
    margin-left:5.125rem;
}
.radio-box-3{
    margin-left:3.125rem;
}
.radio-box-2{
    margin-left:5rem;
}
.radio-box-1{
    margin-left:5.75rem;
}
label{
    color:white;
}
h5{
    color:white;
}
div input{
    margin-top:0.313rem;
}
