body{
    margin:0rem;
    padding:0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	Overflow-x:hidden;
}

.colors{
	color:rgb(207, 21, 21);
}
.hero{
	background-image:url(../../assets/images/Main/living-room-main.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
	height:50%;
	width:100%;
    margin:0rem;
    padding:0rem;
	color:white;
	font-size:1.25rem;
	position:relative;
	background-position: 50%;
}
#sofa-img {
	background-image: url(../../assets/images/Rooms/Sofa/Sofa/Sofa\ 20.png);
	background-size:cover;
 }     
 #renovation-image {
	background-image: url(../../assets/images/Rooms/Renovation/renovation\ 3.png);
	background-size:cover;
 }     
 #bedroom-image {
	background-image: url(../../assets/images/Chamber/Bedroom/couple/couple\ bedroom\ 1.jpg);
	background-size:cover;
 }     
#chandelier-image {
	background-image: url(../../assets/images/Main/chandelier-main.jfif);
	background-size:cover;
 }   
 #images {
	background: url(../../assets/images/Rooms/Wallpaper/Wallpaper\ 4.jpg);
	background-size:cover;
 }
 #image-background{
	background: url(../../assets/images/Main/modular-kitchen-main.png);
	background-size:cover;  
 }
 #images-background{
	background: url(../../assets/images/Rooms/TV/tv\ units\ 2.png);
	background-size:cover;  
 }
 #img-background{
	background: url(../../assets/images/Rooms/wadrobe/wadrobe\ 5.jpg);
	background-size:cover;  
 }
 #crockery-img{
	background: url(../../assets/images/Chamber/Crockery/crockery\ 8.jpg);
	background-size:cover;  
 }
 #pooja-img{
	background: url(../../assets/images/Rooms/pooja/prayer\ 3.jpg);
	background-size:cover;  
 }
 #bathroom-img{
	background: url(../../assets/images/Chamber/Bathroom/Bathroom\ 8-new.jpg);
	background-size:cover;  
 }
 #kids-img{
	background: url(../../assets/images/Chamber/kids/kids\ area-new\ 6.jpeg);
	background-size:cover;  
 }
 #truck-img{
	background: url(../../assets/images/Rooms/truck/Truck/truck\ interior\ 5.png);
	background-size:cover;  
 }
 #ceiling-img{
	background: url(../../assets/images/Chamber/ceiling/False\ ceiling\ 11.png);
	background-size:cover;  
 }
 #reuse-img{
	background: url(../../assets/images/Rooms/Reusable/reusable\ 10.jpg);
	background-size:cover;  
 }
.hero p{
    margin:0;
    padding:23.75rem 0rem 0rem 5rem;
    font-size:3.125rem;
    color:black;
}
mark{
	background-color:rgb(203, 203, 203);
	padding:0rem 1rem 0rem 1rem;
}
#bedroom-image p{
	 padding-left:11.25rem;
}
#img p{
    padding:23.125rem 0rem 0rem 6.25rem;
}
#image p{
    padding-left:13.75rem;
}
#images p{
    padding-left:9.375rem;
}

div.container{
    /* height:42.5rem; */
    width:62.5rem;
    border-radius:0.5rem;
    z-index:1;
	margin:-4.625rem 3.75rem 0rem 0.625rem;
    padding-top:0.25rem;
   background-color:transparent;
  }
div.container-bedroom{
	height:42.5rem;
    width:62.5rem;
    border-radius:0.5rem;
    z-index:1;
	margin:-5.625rem 3.75rem 0rem 0.625rem;
    padding-top:1.25rem;
   background-color:transparent;
   position:relative;
}

  #container-interiors{
	height:42.5rem;
	margin:0rem 3.75rem -29rem 0.625rem;
  }
  #container-interiors-wadrobe{
	height:48rem;
	margin:0rem 3.75rem -29rem 0.625rem;
  }
  #container-bathroom{
	/* height:42.5rem; */
	margin:0rem 3.75rem 0rem 0.625rem;
  }

.home-int-heading{
	color:#222222;
	font-size:1.5rem;
	text-align:center;
	margin:3.75rem 0rem;	
}
.interior-row{
	margin:2.25rem 0rem 0rem 0rem;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.interiors{
	width:33%;
	position:relative;
	padding:0rem 0.625rem;
	margin-left:0.625rem;
	margin-right:1.875rem;
	
}
.interiors p{
	font-size:1rem;
	color:black;
	text-align:center;
    margin-top:0.125rem;
    padding-left:1.563rem;
	padding-bottom:2rem;
}
.interiors a{
	text-decoration:none;
}
.image-product{
	height:6.875rem;
	width:11.563rem;
	margin:0rem 0rem 0.938rem 3rem;	
}
.interiors img{
	height:6.875rem;
	width:11.563rem;
	margin:0rem 0rem 0.938rem 3rem;	
}
.interiors:hover{
	transform: scale(1.2); 
	transition: 1s;
}
.home-interior{
	margin-top:31.25rem;
}
.home-interiors{
	margin-top:37.5rem;
}
.bedroom-heading{
	font-size:24px;
	margin:0rem 0rem 0rem 0.938rem;
	padding:0.063rem;
}
.div-couples{
	margin-top:0rem;
	background-color:antiquewhite;
}
.div-couple{
	margin-top:-3rem;
	background-color:antiquewhite;
}
.div-kids{
	background-color:azure;
	margin-top:-3rem;
}
#footer-living-room{
	margin-top:-15rem;
}
#footer-bedroom{
	margin-top:-2rem;
}


.fb-icon{
	width:14rem;
	height:8rem;
}
@media screen and (max-width:768px) {


	html{
		font-size: 2rem;
		overflow-x: hidden;
		scroll-padding-top: 7rem;
		scroll-behavior: smooth;
	}
	html
	.home-interiors-div{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1rem;
	margin-right: 5rem;
	margin-bottom: 8rem;

}
#row-1{
	margin-top:-5rem;
}
.interior-row{
	margin:1.25rem 0rem;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));}
	#container-interiors-wadrobe{
		height:100%;
		margin:2rem 2.75rem 1rem 0.625rem;
	  }
	#container-interiors{
		height:100%;
		margin:2rem 2.75rem 1rem 0.625rem;
	  }
	  #container-bathroom{
		height:100%;
		margin:4.5rem 2.75rem 1rem 0.625rem;
	  }
	.interiors{
		margin-left:-1rem;
	}
    #inter-5{
		display:none;
	}
	.interiors p{
		font-size:1.5rem;
		color:black;
		text-align:center;
		/* text-justify: inter-word; */
		margin-left:0.5rem; 
		
        width:100%;
		/* flex-wrap:nowrap; */
	}
	.interiors a{
	text-decoration:none;
	width:100%;
}
#footer-living-room{
	margin-top:-1rem;
}
#living-footer{
	margin-left:-2rem;
}
.living{
	margin-top:2rem;
}
.hero{
	height:100%;
	width:100%;
}


}