
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
.top{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
    background-color:rgb(244, 239, 239);
    padding-bottom:2rem;
}
.after-order img{
  margin:3rem 0rem 0rem 5rem;
  width:600px;
   height:600px;
}
.after-order h2{
    text-align:center;
    margin-top:4rem;
    margin-left:2rem;
    color:rgb(83, 76, 76);
}
#accordian{
    margin-left:0rem;
    margin-top:2.5rem;
    margin-right:3rem;
    width:600px;
}
#accordian li{
    list-style:none;
    width:100%;
    margin-bottom:10px;
    background-color:rgb(232, 220, 220);
    padding:0.938rem;
    border-radius:4px;
}
#accordian li label{
    padding:0.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    color:rgb(142, 17, 17);
}
#accordian li label span{
    transform:rotate(90deg);
    font-size:22px;
    color:rgb(142, 17, 17);
}
#accordian label + input[type="radio"]{
    display:none;
}
#accordian .content{
    padding:0 10px;
    line-height:26px;
    max-height:0;
    overflow:hidden;
    transition: max-height 0.5s;
}
#accordian .content p{
    color:rgb(45, 37, 37);
}
#accordian label + input[type="radio"]:checked + .content{
    max-height:400px;
}
.about-div{
	display:grid;
	grid-template-columns:50% 50%;
	width:100%;
	height:70vh;
    background-color:rgb(244, 239, 239);
}
.about-div div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
    margin-left:5rem;
}
.about-div div:nth-child(2){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center; 
	text-align:center;
	padding-left:20px;
	padding-right:120px;
    margin:3rem 0rem 5rem -1.5rem;
} 
.about-profile-img{
	height:30rem;
	width:32rem;
}
.about-div h3{
   font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-style: normal;
    font-size:3rem;
}
h5{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:1rem;
    padding:2rem;
}
.about-div div:nth-child(2) p{
    padding: 2rem;
    text-align: center;
}
.family-div{
	display:grid;
	grid-template-columns:50% 50%;
	width:100%;
	height:80vh;
    background-color:#fff;
    margin-top:2
   
}
.family-div div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
	padding-left:80px;
	padding-right:20px;
	font-size:20px;
	color:rgb(16, 15, 15);
}
.family-div div:nth-child(2){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
}
.family-img{
	height:30rem;
	width:32rem;
}
.family-div div:nth-child(1) h3{
    font-family: "brandon-grotesque", serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    padding:2rem;
    margin-top:-2rem;
}
.footer-div h4{
    margin-top:1.5rem;
 }
 .footer-div p{
     padding:0.4rem;
     margin-top:0.6rem;
 }
 .footer-media img{
     height:4.063rem;
     width:3.125rem;
     margin-left:2rem;
 }
 .customer{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;
}
.customer-img{
    height:18.75rem;
    width:23.75rem;
    margin:0rem 3.125rem 1.25rem 3.75rem;
    padding-left:-3.125rem;
    padding-bottom:2rem;
}
.customer-content{
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 0rem 2.813rem;
}
.review-head{
    margin:3.125rem 0rem 0rem 1rem;
    font-size:2.5rem;
    padding:1.5rem 0rem 3rem 0rem;
    text-align:center;
}
.customer-heading{
    margin-left:4.688rem;
    font-size:1.563rem;
}
.review{
    background-color:white;
}
.customer-color{
    color:grey;
    font-size:1.25rem;
    padding:1rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 0rem 2.813rem;
}
@media screen and (max-width:768px) {
	HTML{
		font-size: 2rem;
	
	}
    .customer-3{
		display:none;
	}
    .customer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		/* gap: 3rem; */
		margin: 1rem 2rem 3rem 2rem;
	}
	.customer-img{
		height:10.75rem;
		width:8.75rem;
		margin:0rem 3.125rem 1.25rem 1.75rem;
		padding-left:-3.125rem;
	}
	.customer-content{
		font-size:1.25rem;
		padding:0rem 0rem 0rem 1.5rem;
		margin:0rem 2rem 0rem 0rem;
		text-align:justify;
		text-justify: inter-word;
	}
	.review-head{
		margin:3.125rem 0rem 3rem 5rem;
		font-size:2.5rem;
	}
    .customer-1{
        margin-left:2.5rem;
        margin-right:2rem;
    }
    .customer-2{
        margin-left:3rem;
    }
	.customer-color{
        color:grey;
        font-size:1.25rem;
        padding:1rem 0rem 0rem 1.875rem;
        margin:0rem 1.875rem 0rem 1rem;
    }
	.customer-heading{
		margin-left:1.688rem;
		font-size:1.563rem;
	}
    .about-div{
       display:flex;
       flex-direction: column;
        width:100%;
        height:75vh;
        background-color:rgb(244, 239, 239);
    }
    .about-div div:nth-child(1){
        display:flex;
        flex-direction:column;
    }
    .about-div div:nth-child(2){
        display:flex;
        flex-direction:column;
        padding:0rem;
        /* padding-left:20px; */
        /* padding-right:120px; */
        margin:1rem 5rem 0rem 8rem;
    } 
    .about-profile-img{
        height:30rem;
        width:32rem;
        margin-top:5rem;
    }
    .about-div h3{
        font-size:4.3em;
    }
    h5{
        font-size:2rem;
        padding:2rem;
    }
    .about-div div:nth-child(2) p{
        padding: 1rem;
        padding-top:3rem;
        font-size: 1.5rem;
    }
    .family-div{
        display:flex;
       flex-direction: column;
        width:100%;
        height:65vh;
        background-color:#fff;
        margin-top:2
       
    }
    .family-div div:nth-child(1){
        display:flex;
        flex-direction:column;
        padding:0rem;
        /* padding-left:80px;
        padding-right:20px; */
        font-size:1.6rem;
        text-align:center;
        padding-left:10px;
        padding-right:10px;
        margin-bottom: 2rem;
        color:rgb(16, 15, 15);
    }
    .family-div div:nth-child(2){
        display:flex;
        flex-direction:column;
        padding-left:20px;
        padding-right:20px;
        font-size:20px;
    }
    .family-img{
        height:30rem;
        width:32rem;
    }
    .family-div div:nth-child(1) h3{
        font-style: bold;
        font-size:2rem;
        padding:2rem;
        margin-top:-1rem;
    }
    .top{
        display:flex;
        flex-direction:column;
    }
    .after-order img{
      margin:3rem 0rem 0rem 5rem;
      width:80%;
       height:100%;
    }
    .after-order h2{
        font-size:2rem;
    }
    #head-about{
        padding-bottom:0.3rem;
        padding-top:0.3rem;
    }
    #accordian{
        margin-left:4rem;
        margin-top:2.5rem;
        margin-right:1rem;
        width:80%;
    }
    
    #accordian li label{
        padding:1rem;
        font-size:1.8rem;
    }
    #accordian li label span{
        font-size:1.6rem;
    }
   
    #accordian .content{
        font-size:1.5rem;
        padding:0px;
        line-height:18px;
       text-align:center;
    }
    #accordian .content p{
        color:rgb(45, 37, 37);
    }
    #accordian label + input[type="radio"]:checked + .content{
        max-height:400px;
    }
    
	#living-footer{
		margin-left:0rem;
		padding-right:2rem;
	}
    
}
   
