body{
    margin:0rem;
    padding:0rem; 
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    
}

h2{
    text-align:center;
    padding-top:1.875rem;
}
.top{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-evenly;
    background-color: #fff;
    box-sizing:border-box;
    margin:1.875rem;
}
.accordian{
    max-width:50rem;
    padding-top:1.25rem;
}
.accordian .contentBx{
    position:relative;
    margin: 0.625rem 1.25rem;
}
.accordian .contentBx .label{
    position:relative;
    padding:0.625rem;
    background:#ff8080;
    color:#fff;
    cursor:pointer;
}
.accordian .contentBx .label::before{
    content:'+';
    position:absolute;
    top:50%;
    right:1.25rem;
    transform:translateY(-50%);
    font-size:1.5em;
}
