body{
	margin:0px;
	padding:0px;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	overflow-x:hidden;
}
:root{
	--medium-black:#2a2727;
	--white:#fff;
	--grey-black:#343030;
	--black:#000;
	--bright-red:rgb(199, 4, 4);
}
.colors{
	color:rgba(255, 0, 0, 0.674);
}
.main-page{
	display:grid;
	grid-template-columns:25% 75%;
	height:55.75rem;
	background-color:var(--white);
}
.main-page div:nth-child(1){
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	background-color:var(--grey-black);
	padding:20rem 0rem 0rem 3.75rem;
}
.main-page div:nth-child(2){
	display:flex;
}
.main-img{
	height:57rem;
	z-index:1;
	
}
.main-content {
	color: var(--white);
	font-size:1.25rem;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.content-parah {
	margin-bottom: 15rem;
	margin-top:-1rem;
	padding-right:3rem;
	text-align: justify;
	text-justify: inherit;
}
.main-content h1{
	padding-top:0rem;
	margin-top:0rem;
	color: var(--white);
	font-size:5.625rem;
	font-family:serif;
}
div.container{
    height:42.5rem;
    width:62.5rem;
    border-radius:0.5rem;
    z-index:1;
    margin:1.875rem 3.75rem 0rem 15.625rem;
    background-color:transparent;
 }
.home-interiors-div{
	background-color:var(--white);
}
.home-int-heading{
	color:#222222;
	font-size:1.5rem;
	text-align:center;
	margin:3.75rem 0rem;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;	
}
.interior-row{
	margin:2.25rem 0;
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:space-between;
	align-items:space-between;
	
}
.interiors{
	display:inline-block;
	position:relative;
	padding:0 0.625rem;
	margin:0rem 1.875rem 0rem 0.625rem;
	box-sizing: border-box;
}
.interiors p{
	font-size:1rem;
	margin-left:2.5rem;
	color:var(--black);
	text-align:center;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
p.reusable-para{
	margin-top:-0.616rem;
}
p.chandelier-para{
	margin-top:-0.616rem;
}
.interiors a{
	text-decoration:none;
}
.interiors img{
	height:4.063rem;
	width:4.603rem;
	margin:0rem 0rem 0.938rem 3rem;
	padding: 0.625rem;
}
.interiors img:hover{
	transform: scale(1.5); 
	transition: 1s;
}
img.bedroom{
	height:4.063rem;
	width:5.313rem;
	margin:0rem 0rem 0.938rem 2.5rem;	
}
img.sofa{
	height:4.063rem;
	width:5.313rem;
	margin:0rem 0rem 0.938rem 2.5rem;
	padding-left:0.625rem;	
}
img.chandelier{
	height:8rem;
	width:5rem;
	margin-bottom:0.5rem;
	margin-top:-1.5rem;
}
img.wadrobe{
	height:4.063rem;
	width:4.063rem;
	margin-bottom:0.938rem;
}
img.reusable{
	height:8rem;
	width:5rem;
	margin-bottom:0.5rem;
	margin-top:-2rem;
}
div.contain{
    height:25rem;
    width:81.25rem;
    border-radius:0.5rem;
    box-shadow:0 0 1rem rgb(0 0 0 /10%);
    z-index:1;
    margin:1.275rem 3.75rem 0rem 5rem;
   background-color:var(--white);
  }
.support{
	background-color:whitesmoke;
	padding-bottom:3rem;
	padding-top:0rem;
	margin-bottom:0.5rem;
}
.support-heading{
	color:#222222;
	margin:-1rem 0rem 3.5rem 0rem;
    font-size:3.75rem;
	padding-top:3.125rem;
	text-align:center;
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;	
}
.contain{
	text-align:start;
	margin:2.25rem 0rem;
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:space-between;
	align-items:space-between;
}
.customize{
	display:inline-block;
	position:relative;
	padding:0rem 0rem 0.625rem 1.875rem;
	margin:0rem 1.25rem 0rem 1.875rem;
    border-left:0.063rem solid #000;
}
.customize p{
	font-size:1.25rem;
	color:var(--black);
	text-align:center;	
}
.call-para{
	font-size:1.25rem;
	color:var(--black);
	text-align:center;
	padding-top:1.25rem;
	margin-top:1.875rem;
}
.customize a{
	text-decoration:none;
    color:var(--black);
}
.customize img{
	height:8.438rem;
	width:7.813rem;
	margin:3.125rem 0rem 0.938rem 3.25rem;
}
#call-img{
	height:4.063rem;
	width:7.813rem;
	margin:5rem 0rem 0.938rem 3.25rem;
}
#mail-img{
     margin-left:6.25rem;
}
.mail-para{
	margin-left:3.125rem;
}
.queries-para{
	margin-left:2.5rem;
}
.customizes{
	display:inline-block;
	position:relative;
	padding:0rem 0.625rem;
}
.customizes p{
	font-size:1.25rem;
	color:black;
	text-align:center;
}
.customizes a{
	text-decoration:none;
    color:black;
}
.customizes img{
	height:8.435rem;
	width:7.813rem;
	margin-left:3.125rem;
	margin-bottom:0.938rem;
	margin-top:3.125rem;
}
.button {
    padding-left:0.938rem;
    padding-right:0.938rem;
    padding-top:0.625rem;
    padding-bottom:0.625rem;
    margin:1.25rem 5.625rem 0rem 6.563rem;
    font-size:1.125rem;
	background-color:black;
	border-radius:0.625rem;
}
.button:hover{
	transform: scale(1.2); 
	transition: 1s;
	background-color:rgb(199, 4, 4);
	border-radius:0.625rem;
	border-color:transparent;
}
.button a{
	color:white;
}
.button-ter{
	margin-bottom:1.25rem;
	
}
.button-quant{
	margin-top:1.75rem;
}
.trends{
	margin:2.5rem;
	height:44.6rem;
}
.trends-head{
	margin-top:11.25rem;
	padding-top:5rem;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items:space-between ;
}
.trends-head p{
	font-size:1.25rem;
	margin-left:17rem;
	margin-right:9.375rem;
	display:inline;
}
.trends-head img{
	height:1.125rem;
	width:1.25rem;
	margin-left:1.25rem;
}
.trends-head img:hover{
	transform: scale(1.5); 
	transition: 1s;	
}
.trending-img img{
	height:1.25rem;
	width:2.5rem;
	margin-left:0.625rem;
	margin-top:0.625rem;

}
.trending-content{
	margin:0;
}
.trends-img img{
	margin-top:1.875rem;
	height:33.45rem;
	width:61.1rem;
	margin-left:15.625rem;
}
.trending-img img:hover{
    transform: scale(1.5); 
	transition: 1s;	
}
.work-head{
	font-size:1.875rem;
	text-align:center;
	padding-top:1.25rem;
	margin-top:3.125rem;
}
.work-content{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-evenly;
	padding:1.875rem;
}
.btn-work{
	background-color:var(--white);
	border-color:#f76b6b ;
	border-style: solid;
	border-radius: 3.125rem;
	margin:0rem;
}
.work-btn{
	margin:0rem 34.375rem 3rem 34.375rem;
	background-color:var(--black);
	color:var(--white);
	padding:0.625rem 0.938rem;
	font-size:1.25rem;
	border-radius:0.625rem;
}
.work-btn a{
	color:var(--white);
	text-decoration: none;
}
.work-btn:hover{
	transform: scale(1.2); 
	transition: 1s;
	background-color:rgb(199, 4, 4);	
	border-radius:0.625rem;
	border-color:transparent;
}
.work-btn a:hover{
	color:var(--white);
	height:0.625rem;
	width:0.625rem;
}
.work-images{
	height:3.438rem;
	width:5rem;
	padding:1.563rem 0.938rem;
	margin-left:1.25rem;
	margin-right:1.875rem;
}
.work-img{
	height:6.563rem;
	width:5rem;
	margin-left:2.5rem;
	margin-right:1.875rem;
}
.work-content-article p{
    margin-left:2.5rem;
}
.dotted-line{
	width:8.75rem;
	margin-bottom:1.25rem;
}
.top{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;

}
.customer{
    display:flex;
	flex-direction:row;
    flex-wrap:nowrap;
	justify-content:space-between;
	align-items:space-between;
}
.customer-img{
    height:18.75rem;
    width:23.75rem;
    margin:0rem 3.125rem 1.25rem 3.75rem;
    padding-left:-3.125rem;
}
.customer-content{
    font-size:1.25rem;
    padding:0rem 0rem 0rem 1.875rem;
    margin:0rem 1.875rem 0rem 2.813rem;
}
.review-head{
    margin:3.125rem 0rem 0rem 5rem;
    font-size:2.5rem;

}
.customer-heading{
    margin-left:4.688rem;
    font-size:1.563rem;
}
.project{
	height:27.875rem;
	width:93.038rem;
	background-color:whitesmoke;
}
.project-title{
	text-align:center;
	margin:0rem;
	padding-top:1.25rem;
	font-size:2.5rem;
	
}
.project-content{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-evenly;
	align-items:space-between;
}
.project-number{
	font-size:1.875rem;
	padding:1.25rem 0rem 0rem 1.25rem;
	
 }
 .project-numbers{
	font-size:1.875rem;
	padding:1.25rem 0rem 0rem 1.25rem;
	margin:0rem;
 }
.project-text{
	font-size:1.875rem;
	margin:0rem 0rem 0rem 0.938rem;
	padding-top:1.25rem;
}

.trending-img a{
	text-decoration:none;
	color:black;
}
#footer-index{
	margin-top:0rem;
}
#footer-chamber{
	margin-top:13rem;
}
@media screen and (max-width:768px) {
	HTML{
		font-size: 2rem;
	}
#menu-btn{
	display: initial;
}
	
	.main-img{
		height: auto;
		z-index:1;
		width:100%;

		
	}
	.main-page{
		display: flex;
		flex-direction: row;
		max-width: 100%;
		object-fit: cover;
		
	}

	.main-page div:nth-child(1){
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		background-color:var(--grey-black);
		 padding:20rem 0rem 0rem 3.75rem; 
		width: 30%;
		
	}

	.customer-3{
		display:none;
	}
	.main-page div:nth-child(2){
		display:flex;
	}
	
	.main-content {
		color: var(--white);
		font-size:1.25rem;
		font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	}
	 .content-parah {
		margin-bottom: 15rem;
		margin-top:-1rem;
		padding-right:3rem;
		text-align: justify;
		text-justify: inherit;
	} 
	.main-content h1{
		
        margin-left: -2rem;
		/* margin-top:0rem; */
		color: var(--white);
		/* font-size:5.625rem; */
		font-family:serif;
		width: auto;
	}
	.home-int-heading{
		margin-left:12rem;
		color:#222222;
		font-size:1.5rem;
		text-align:left;
		/* margin:3.75rem 0rem; */
		font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;	
	}
     div.container{
		height:42.5rem;
		width:auto;
		border-radius:0.5rem;
		z-index:1; 
		margin:1.875rem 3.75rem 0rem 0rem;
		background-color:transparent;
	 } 
	/* .interior-row{
		margin:2.25rem 0;
		display:grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		margin-right: 25rem;
		margin-left: -16rem;
		width: auto;
		padding: 0%;
	} */
	.interior-row{
		margin:2.25rem 0;
		display:flex;
		flex-direction:row;
	
		/* justify-content:space-between;
		align-items:space-between; */
		
	}
	.interiors p{
		font-size:1rem;
		/* margin-left:2.5rem; */
		color:var(--black);
		text-align:left;
		font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	}

	

	.interiors{
		/* display:inline-block; */
		position:relative;
		/* padding:0 0.625rem; */
		/* margin:0rem 1.875rem 0rem 0.625rem; */
		box-sizing: border-box;
	}
	.interiors img{
		height:4.063rem;
		width:4.60rem;
	
		/* margin:0rem 0rem 0.938rem 3rem;
		padding: 0.625rem; */
	}
	div#inter-bedroom{
		margin-top:2rem;
	}

	img.kitchen{
		margin-top:2rem;
		height:4.063rem;
		width:4.60rem;
	}
	img.crockery{
		
		height:4.063rem;
		width:4.60rem;
	}
	img.renovation{
		
		height:4.063rem;
		width:4.60rem;
	}
	img.ceiling{
		
		height:4.063rem;
		width:4.60rem;
	}
	img.bedroom{
		height:4.063rem;
		width:5.313rem;
		/* margin:0rem 0rem 0.938rem 2.5rem;	 */
	}
	
	img.sofa{
		height:4.063rem;
		width:3.313rem;
		margin-top:2rem;
		/* margin:0rem 0rem 0.938rem 2.5rem;
		padding-left:0.625rem;	 */
	}
	img.living{
		margin-top:2rem;
	}
	img.pooja{
		height:4.063rem;
		width:3.313rem;
	}
	img.chandelier{
		height:7.5rem;
		width:3.5rem;
		/* margin-bottom:0.5rem;
		margin-top:-1.5rem; */
	}
	img.wadrobe{
		height:4.063rem;
		width:4.063rem;
		/* margin-bottom:0.938rem; */
	}
	img.reusable{
		height:6.8rem;
		width:3.5rem;
		
		/* margin-bottom:0.5rem;
		margin-top:-2rem; */
	}
	p.reusable-para{
		margin-top:-0.616rem;
		margin-right:0rem;
		margin-left:0.5rem;
	}
	.trends{
		margin-top:8.5rem;
		height:40.6rem; 
	}

	.trends-head{
		margin-top:15.25rem;
		padding-top:5rem;
	   display:flex;
	   flex-direction: row;
	   flex-wrap: wrap;
	   justify-content: space-between;
	   align-items:space-between ;
	}
	.trends-head p{
		font-size:1.25rem;
		margin-left:4rem;
		margin-right:9.375rem;
		padding-top:1rem;
		display:inline;

	}
	.trends-head img{
		height:1.125rem;
		width:1.25rem;
		
	}
	
	.trending-img img{
		height:1.25rem;
		width:2.1rem;
		margin-left:0.625rem;
		margin-top:0.625rem;
	
	}
	.trending-content{
		margin:0;
	}
	.trends-img img{
		margin-top:1.875rem;
		height:23.45rem;
		width:35.1rem;
		margin-left:3rem;
	}
    .project{
		height:27.875rem;
		width:48.038rem;
		margin-left:1rem;
		background-color:whitesmoke;
	}
	
	.project-number{
		font-size:1.875rem;
		padding:0rem 0rem 0rem 1.5rem;
	 }
	 .customer{
		/* display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:space-between;
		align-items:space-between; */

		
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		/* gap: 3rem; */
		margin: 1rem 2rem 3rem 2rem;
	}
	.customer-img{
		height:10.75rem;
		width:8.75rem;
		margin:0rem 3.125rem 1.25rem 1.75rem;
		padding-left:-3.125rem;
	}
	.customer-content{
		font-size:1.25rem;
		padding:0rem 0rem 0rem 1.5rem;
		margin:0rem 2rem 0rem 0rem;
		text-align:justify;
		text-justify: inter-word;
	}
	.review-head{
		margin:3.125rem 0rem 3rem 5rem;
		font-size:2.5rem;
	}
	
	.customer-heading{
		margin-left:1.688rem;
		font-size:1.563rem;
	}
	.work-content{
		display:grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}
	
	/* .work-content{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:space-evenly;
		padding:1.875rem;
	} */
	.btn-work{
		background-color:var(--white);
		border-color:#f76b6b ;
		border-style: solid;
		border-radius: 3.125rem;
		margin-left:6.5rem;
	}
	.work-content-article{
		margin:1rem; 
	}
	.work-content-article p{
		margin-left:8.5rem;
	}
	#work-content-5{
		margin-left:12rem;
	}
	.para-5{
		margin-left:12rem;
		margin-right:-10rem;
	}
	.dotted-line{
		/* width:8.75rem;
		margin-bottom:1.25rem; */
		display: none;
	}

	.work-btn{
		margin:0rem 6.375rem 3rem 8.375rem;
		background-color:var(--black);
		color:var(--white);
		padding:1.625rem 1.938rem;
		font-size:1.25rem;
		border-radius:0.625rem;
	}

	.contain{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}

 .customizes{

		padding:0rem 0rem 0.625rem 1.875rem;
		margin:0rem 1.25rem 0rem 1.875rem;
		
	} 

	div.contain{

		height: auto;
		width: auto;
		border-radius: 0.5rem;
    	box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
    	z-index: 1;
    	margin: 1.275rem 3.75rem 0rem 5rem;
    	background-color: var(--white);
	}
	#customize-1{
	  border:.2rem solid black;
	  margin-top:2rem;
	  margin-right:4px;
	}
   #mail-img{
	margin-left:3rem;
   }
	.queries-para{
		margin-left:0rem;
	} 
	.mail-para{
		margin-left:0rem;
	}
}
