body {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
     font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;  
}
.top_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:3rem 0rem 0rem 0rem;
}
.contain_image{
    position: relative; 
}
.container {
    margin: 0rem 0rem 3rem 3rem;
    padding-left: 0rem;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
}
div.container p {
    margin: 0rem;
}
.price{
    text-align:center;
    margin-top:0rem;
}
.main_image {
    height: 15rem;
    width: 15rem;
    border-radius:150px;
    margin-left: 2rem;
}
.contain_image a .delete_icon{
    position: absolute;
    bottom:0;
     left:0;
}

h2 {
    text-align: center;
    margin-left: 2rem;
    margin-top:1rem;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.button_add{
   margin: 1rem 0rem 0.5rem 2.3rem;
    padding:0.1rem 2rem;
   background-color:whitesmoke;
   border-color: transparent;
}
.button_remove{
    margin: 1rem 0rem 0.5rem 2rem;
    padding:0.1rem 1.5rem;
    background-color:whitesmoke;
    border-color: transparent;
 }
 button:hover{
    transform: scale(1.1); 
	transition: 1s;
 }
.btn{
    display: flex;
    flex-direction: row;
}