*{
box-sizing: border-box;
}
body{
    background-color: white;
    background-size:cover;
    font-family: arial;
    color:#333;
    font-size:13px;
    margin:0;
}
input, select, button{
    font-family: arial;
    color:#333;
    font-size:14px;
}
h3,h4{
    margin:0;
}

.image-holder img{
   /* width:50rem; */
   height:40rem;
   margin-top:3rem;
   width: 40rem;
   margin-left:10rem;
}
:focus{
    outline:none;
}
.wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    /* align-items:center; */
    justify-content: space-between;
   
}
.inner{
    background: #fff;
    max-width:2000px;
    margin:5px;
    display:flex;
}
.inner .image-holder{
   height:100rem;
   width:20rem;
}
.inner form{
    width:100%;
    padding-top:36px;
    padding-left: 45px;
    /* padding-right: 45px; */
    margin-left: 32rem;
    margin-top: 8rem;
}
.inner h3{
    text-transform: uppercase;
    font-size:29px;
    margin-top:-2rem;
    padding-bottom:1rem;
    text-align:center;
    margin-bottom:28px;
}
.form-group{
    display:flex;
}
.form-group input{
    width:100%;
    font-size:16px;
}
.form-group input:first-child{
    margin-right: 25px;
}
/* .form-wrapper{
    position:relative;
} */
.form-control{
    border:1px solid #333;
    border:none;
    border-bottom:1px solid #333;
    display:block;
    width:100%;
    height:30px;
    padding-right: 0;
    margin-bottom: 30px;
}
select{
    cursor:pointer;
    color:gray;
    font-size:16px;
}
select option[value=""] [disabled]{
   display:none;
}
span{
    color:red;
    text-align: center;
    margin-left:7rem;
}
p#main_head{
    font-size:1.3rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    float:left;
    padding:1rem 0.4rem 0rem 1.5rem;
    margin:0.5rem 0rem 0.8rem 4rem;
    color:black;
 } 
 .btn-delete{
    border-radius:0.313rem;
	border:transparent;
	color:white;
	background-color:black;
	padding:0.5rem 1rem 0.5rem 1rem;
	margin:2rem 2rem 0.625rem -1rem;
    box-shadow: 30px 11px 33px 0px rgba(199,197,199,1);
}
.submit-form{
    border-radius:0.313rem;
	border:transparent;
	color:white;
	background-color:black;
	padding:0.5rem 1rem 0.5rem 1rem;
	margin:2rem 2rem 0.625rem 8rem;
    box-shadow: 30px 11px 33px 0px rgba(199,197,199,1);
}
.btn{
    display: flex;
    flex-direction: row;
}
.submit{
display:flex;
	border:transparent;
	color:white;
	background-color:black;
	padding:0.5rem 1.5rem 0.5rem 1.5rem;
	margin:1.5rem 2rem 0.625rem 9rem;
    box-shadow: 30px 11px 33px 0px rgba(199,197,199,1);
}