body{
    width: 100%;
    margin:0rem;
    padding:0rem;
    box-sizing:border-box;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-image:linear-gradient(rgb(246, 187, 187),rgb(250, 220, 220),rgb(252, 219, 219));
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:120%;
	height:55.75rem;
}
#header-nav{
    background-color:rgb(67, 43, 43);
    border-color:transparent;
}
.plus-icon{
    margin:2.2rem 4rem 0rem 0rem;
    font-size:1.5rem;
}
.plus-icon a{
    color:white;
}
#profile-icon{
    margin:0.75rem 0rem 0rem 5rem;
}
.logo-image{
	margin-top:0.125rem;
	height:4.5rem;
	width:10.25rem;
    padding:0.313rem;	
    margin-left:2rem;
}
#input button{
    margin-left:55rem;
    margin-top:1rem;
    background-color:rgb(252, 219, 219);
	border-radius:0.625rem;
    border-color:transparent;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
}
#input button a{
    color:rgb(67,43,43);
}
.inner button a{
    font-size:1.2rem;
}
.triple-bar img{
    margin-top:1rem;
}
.container{
	position:absolute;
	top:50%;
	left:50%;
    transform:translate(-50%, -50%);
    background-color:rgba(67, 43, 43, 0.731);
	width:25.62rem;
	padding:0rem 2.5rem 1.875rem 0.625rem;
	height:31.25rem;
    border: 0.063rem solid transparent;
    box-shadow: 0.313rem 0.638rem 1.125rem transparent;
    border-radius: 1.25rem;
	color:rgb(218, 214, 214);
}
h1{
	color:white;
}
.container-head{
    font-size:1.875rem;
   margin:1.875rem 0rem 0rem 8rem;
}
.profile-image{
    margin:0.5rem 6.25rem 1.25rem 8.75rem;
	height:7.5rem;
	width:7rem;
	border-radius:50px;
}
.btn{
    background-color:white;
    padding:0.313rem 1.25rem;
    margin:1.25rem;
    margin-left:5rem;
    border-color:transparent;
	border-radius:10px;
}
.btn a{
    color:black;
    text-decoration: none;
}
.btn:hover{
	transform: scale(1.2); 
	transition: 1s;
	background-color:rgb(199, 4, 4);
    border-color:#fff;
	border:0.063rem solid transparent;
}
.btn-tertiary{
     margin-left:7rem;
	 padding:0.313rem 3rem;
}
.btn-secondary{
    margin-left:1.875rem;
}
#container-profile{
    margin-top:-0.938rem;
   margin-left:5rem;
}
p span{
	color:white;
}
.inner{
	margin:1.875rem 1.25rem 0.313rem 0rem;
	padding:0.125rem;
}
p input{
	color:black;
	margin-right:1rem;
    padding-left:0.5rem;
}
input.name{
	margin-left:3.2rem; 
}
input.mail{
	margin-left:3.2rem;
}
input.address{
   margin-left:1.875rem;
}
input.number{
	margin-left:2.125rem;
}
input.place{
	margin-left:2rem;
}
input.about{
	margin-left:4.2rem;
}
.input{
    border-style: hidden hidden hidden hidden;
    background-color: transparent;
    color:white;
}
.btn-quart{
    margin-left:4rem;
}
.btn-tert{
    margin-bottom:2rem;
     margin-left:5rem;
	 padding:0.313rem 1.5rem;
}

