@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
}

.dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, .8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, .8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, .1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, .8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
}

html,
body {
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

button,
a {
    cursor: pointer;
}

.app-container {
    margin: 1rem 2rem 1rem 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.productImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin: 1rem 0rem 0rem 2rem;
}
.productInfo{
    margin: -0.5rem 1rem 1rem 0rem;
}
.qty {
    display: block;
    margin: -25px 0pc 0px 25px;
    font-weight: 300;
    font-size: 0.8rem;
}
#newHr{
    color:black;
    margin:0rem 2rem;
}

span {
    color: var(--main-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.projects-section {
    flex: 2;
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        color: var(--main-color);

        .time {
            font-size: 20px;
        }
    }
}

p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: .9;
    margin: 0;
    color: var(--main-color);
}

.projects-section-line {
    margin-left: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.projects-status {
    display: flex;
    margin-left: 2rem;
}

.projectTitle {
    margin-left: 3rem;
}

.item-status {
    display: flex;
    flex-direction: column;
    margin-right: 16px;

    &:not(:last-child) .status-type:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translatey(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
    }
}

.status-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--main-color);
}

.status-type {
    position: relative;
    padding-right: 24px;
    color: var(--secondary-color);
}

.view-actions {
    display: flex;
    align-items: center;
}


.view-btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    margin-left: 8px;
    transition: .2s;

    &.active {
        background-color: var(--link-color-active-bg);
        color: var(--link-color-active);
    }

    &:not(.active):hover {
        background-color: var(--link-color-hover);
        color: var(--link-color-active);
    }
}

.project-boxes {
    margin: 0 -8px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.jsGridView {
    display: flex;
    flex-wrap: wrap;


}

.project-box-wrapper {
    width: 24.3%;
}

.more-wrapper {
    position: absolute;
    right: 16px;
    top: 16px;
}

.project-box-content-header {
    order: 1;
    max-width: 120px;
}

.project-box-header {
    order: 2;
}

.project-box-footer {
    order: 3;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.project-box-footer:after {
    display: none;
}

.participants {
    margin-bottom: 8px;
}

.box-progress-wrapper {
    order: 3;
    flex: 1;
}

.project-box {
    --main-color-card: #dbf6fd;
    border-radius: 30px;
    padding: 16px;
    margin: 2rem 0rem 2rem 2rem;
    background-color: var(--main-color-card);

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        color: var(--main-color);
    }

    &-content-header {
        text-align: center;
        margin-bottom: 16px;
    }

    &-wrapper {
        padding: 8px;
        transition: .2s;
    }
}

.projectSpan {
    color: #4A4A4A;
    opacity: .7;
    font-size: 14px;
    line-height: 16px;
}

.project-btn-more {
    padding: 0;
    height: 14px;
    width: 24px;
    height: 24px;
    position: relative;
    background-color: transparent;
    border: none;
    flex-shrink: 0;

}

.more-wrapper {
    position: relative;
}

.box-content-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    opacity: .7;
}

.box-content-subheader {
    font-size: 14px;
    line-height: 24px;
    opacity: .7;
}

.box-progress {
    display: block;
    height: 4px;
    border-radius: 6px;

    &-bar {
        width: 100%;
        height: 4px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #fff;
        margin: 8px 0;
    }

    &-header {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        margin: 0;
    }


    &-percentage {
        text-align: right;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }
}

.project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        ;
        width: calc(100% + 32px);
        top: 0;
        left: -16px;
        height: 1px;
    }
}

.participants {
    display: flex;
    align-items: center;

}

.participants img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

    &:not(:first-child) {
        margin-left: -8px;
    }
}

.add-participant {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.days-left {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 16px;
    font-weight: 700;
}


@media screen and (max-width: 980px) {
    .project-boxes.jsGridView .project-box-wrapper {
        width: 50%;
    }

    .status-number,
    .status-type {
        font-size: 14px;
    }

    .status-type:after {
        width: 4px;
        height: 4px;
    }

    .item-status {
        margin-right: 0;
    }
}


@media screen and (max-width: 720px) {

    svg {
        width: 16px;
        height: 16px;
    }

    .app-header-right button {
        margin-left: 4px;
    }
}

@media screen and (max-width: 520px) {
    .projects-section {
        overflow: auto;
    }

    .project-boxes {
        overflow-y: visible;
    }

    .status-number,
    .status-type {
        font-size: 10px;
    }

    .view-btn {
        width: 24px;
        height: 24px;
    }

    .app-header {
        padding: 16px 10px;
    }

    .project-boxes.jsGridView .project-box-wrapper {
        width: 100%;
    }

    .projects-section {
        padding: 24px 16px 0 16px;
    }

    .projects-section-header p,
    .projects-section-header .time {
        font-size: 18px;
    }

    .status-type {
        padding-right: 4px;

        &:after {
            display: none;
        }
    }

    .box-content-header {
        font-size: 12px;
        line-height: 16px;
    }

    .box-content-subheader {
        font-size: 12px;
        line-height: 16px;
    }

    .project-boxes.jsListView .project-box-header>span {
        font-size: 10px;
    }

    .box-progress-header {
        font-size: 12px;
    }

    .box-progress-percentage {
        font-size: 10px;
    }

    .project-boxes.jsListView .project-box>* {
        margin-right: 10px;
    }

    .project-boxes.jsListView .more-wrapper {
        right: 2px;
        top: 10px;
    }
}