body {
    margin: 0rem;
    padding: 0rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.container{
    display:block;
}
.new {
    margin-top: 0.1rem;
    color: white;
}

.room_div {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem 0rem 8rem;
}

.view_more {
    width: 100px;
    height: 100px;
    margin: 8rem 21rem 0rem 0rem;
    border-radius: 50%;
}

p.main_heading {
    font-size: 5rem;
    margin: 0rem 10rem 0rem 0rem;
    padding: 5px;
}

.room_name {
    color: #FF5757;
}

p {
    font-size: bold;
}

p.text_description {
    font-size: 20px;
    margin-left: 10px;
}

.image_living {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}
.main_div{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}
.div_product {
    display: flex;
    flex-direction: row;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    margin: 3rem 1rem 3rem 4rem;
    justify-content: space-between;
}

.hideout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0rem 1rem 0rem;
}

.hideout_lamp {
    width: 200px;
    height: 450px;
    padding: 1rem 0rem;
}

.classy_names h2 {
    font-size: 3rem;
    margin-left:-1rem;
}

.classy_names h2:nth-child(2) {
    margin: -2rem 0rem 0rem 4rem;
}

.product_img {
    margin: 2rem 4rem 2rem 0rem;
    width: 500px;
    height: 650px;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 0rem 1rem;
}

.right_arrow {
    width: 50px;
    height: 50px;
    margin: 2rem 0rem 0rem 2rem;
}

.menu_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_icon p{
   float:left;
   margin-left:2rem;
}
.projects{
    padding-left:16rem;
    margin-right:5rem;
    display:block;
}
.collect{
    display: flex;
    flex-direction: row;
    float:left;
   margin-left:2rem; 
}
.menu {
    margin: 0rem 30rem 0rem 7rem;
    position: absolute;
    top: 10rem;
    left: 43rem;
}

.menu_bar {
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

.location h4,
p {
    margin-left: 16rem;
}

/* #div2{
    display:none;
} */